[project]
	description = Grafana - InfluxDb - Graphite - Nginx - Statsd - Vagrant - CentOS 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephane Jeandeaux (sjeandeaux)
[access "refs/for/refs/*"]
	read = group user/Stephane Jeandeaux (sjeandeaux)
	push = group user/Stephane Jeandeaux (sjeandeaux)
	label-Code-Review = -2..+2 group user/Stephane Jeandeaux (sjeandeaux)
	label-Verified = -1..+1 group user/Stephane Jeandeaux (sjeandeaux)
	rebase = group user/Stephane Jeandeaux (sjeandeaux)
	removeReviewer = group user/Stephane Jeandeaux (sjeandeaux)
	submit = group user/Stephane Jeandeaux (sjeandeaux)
[access "refs/heads/*"]
	read = group user/Stephane Jeandeaux (sjeandeaux)
	create = group user/Stephane Jeandeaux (sjeandeaux)
	push = +force group user/Stephane Jeandeaux (sjeandeaux)
	pushMerge = group user/Stephane Jeandeaux (sjeandeaux)
[access "refs/tags/*"]
	push = +force group user/Stephane Jeandeaux (sjeandeaux)
	pushTag = group user/Stephane Jeandeaux (sjeandeaux)
	pushSignedTag = group user/Stephane Jeandeaux (sjeandeaux)
